.body {
    background-color: rgb(248, 244, 252);
}

header.sticky-top {
    position: sticky;
    max-height: fit-content;
    z-index: 1000;
    /* Adjust the value as needed */
}

.navLink:hover {
    color: red
}

#prfilePic {
    width: 10rem;
    height: 15rem;
}



#about-Information {
    width: 60vw;

}



section {
    height: 100vh;
    margin-top: 70px;
    /* Adjust the margin-top to match the height of the header */
    padding-top: 70px;
}

.skillHeading,
.projectsHeadding {
    background-color: rgb(240, 103, 54);
    color: white;

}

#skills img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 5px;
}